:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario: #000000;
}

* {
    box-sizing: border-box;
    
}

body{
    margin: 0;
}


.parent {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 20px;
}

.parent__item {
    background-color: var(--color-tercario);
    border-radius: 25px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    min-height: 300px;
    min-width: 450px;
    margin:  50px 0 0 100px;

}

.item__img {
    margin: 50px 0 0 150px;
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    height: 150px;
    border: 1px solid #e0e0e0;
    padding: 2px 2px;

}

.item__nombre {
    font: 400 20px "Poppins";
    text-align: center;
    color: #212f3d;
}

.item__rol {
    width: 90px;
    color: #658eab;
    margin: -5px 0 0 175px;
    font: 600 15px "Poppins";
    background-color: #d4eafc;
    border-radius: 25px;
    padding: 5px 15px;
}

.item__details {
    font: 500 20px "Poppins";
    margin: 20px 0 10px 20px;
    color: #212f3d;
}

.parent__item hr {
    border: 0;
    height: 1px;
    width: 100%;
    max-width: 380px;
    background-color: #ccc;

}

.item__info:not(.info__imp) {
    font: 500 18px "Montserrat";
    color: #797d7f;
    margin: 0 0 15px 20px;
}

.info__imp {
    font: 600 18px "Montserrat";
    color: #212f3d;
    margin: 0 5px 0 0;
}

.item__btn {
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: 0 0 20px 20px;
    border-radius: 8px;
    border: 0;
    font: 500 17px "Noto Sans";
    background-color: var(--color-cuartario);
    transition: background-color .8s ease;
    color: var(--color-tercario);
}

.item__btn:hover {
    background-color: #2980B9;
}

.div2 {
    border-radius: 25px;
    background-color: var(--color-tercario);
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    grid-column: span 5 / span 5;
    grid-row: span 1 / span 1;
    grid-column-start: 3;
    min-height: 400px;
    max-width: 820px;
    margin: 50px 0 0 10px;
}

.pass__title {
    font: 500 20px "Poppins";
    margin: 20px 0 0 20px;
}


.input-box {
    position: relative;
}

.input-box .label {
    font: 500 15px "Montserrat";
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 40px;
    top: 27px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-box .label--changed {
    left: 40px;
}

.input-box input {
    margin: 20px 0 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    max-width: 770px;
    height: 50px;
    letter-spacing: 1px;
    outline: none;
}

.input--changed input {
    margin-bottom: 30px;
}



.input-box input:focus {
    outline: none;
    border: 2px solid #0034de;
}

.input-box input:focus~.label,
.input-box input:not(:placeholder-shown)~.label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.8);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.box__icon i {
    position: absolute;
    top: 35px;
    left: 91%;
    font: 900 18px "Montserrat";

}

.icon--changed i {
    left: 91%;
}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}


.input__error {
    font: 600 15px "Montserrat";
    width: 400px;
    margin: 10px 0 0px 20px;
    display: none;
}


.error--changed {
    margin: -10px 0 10px 20px;
}

.error--cambio1{
    margin-top:20px ;
}

.error--cambio5{
    margin-top:20px ;
}

.error--cambio2{
    width: 99%;
}

.error--cambio3{
    width: 100%;
}

.error--cambio4{
    width: 100%;
    margin-bottom: 20px;
}

.input__advertencia {
    font: 700 15px "Montserrat";
    box-sizing: border-box;
    width: 100%;
    max-width: 770px;
    background-color: #fd1f1f;
    padding: 20px 15px;
    border-radius: 5px;
    grid-column: span 2;
    margin: -10px 0 10px 20px;
    display: flex;
    justify-content: flex-start;
    display: none;
}

.advertencia--changed{
    margin-left: 250px;
}

.input__advertencia i {
    font-size: 1.7rem;
    margin: -5px 10px 0 0;
}

.formulario .formulario__button {
    background-color: var(--color-cuartario);
    color: var(--color-tercario);
    font: 600 15px "Noto Sans";
    width: 100%;
    max-width: 200px;
    height: 50px;
    margin: 0 0 0 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
        -6px -6px 12px #fff;
    cursor: pointer;
    transition:background-color .7s ease ;
}

.formulario .formulario__button:hover {
    background-color: #2980B9;
}


.div3 {
    border-radius: 25px;
    background-color: var(--color-tercario);
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    grid-column: span 5 / span 5;
    grid-row: span 1 / span 1;
    min-height: 300px;
    max-width: 820px;
    padding: 0 40px;
    margin: 0 0 0 10px;
    position: relative;

}

/* Título de las notificaciones */
.notification__title {
    font: 600 24px "Poppins", sans-serif;
    color: #34495e;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.notification__btn{
    position: absolute;
    background-color: var(--color-cuartario);
    color: var(--color-tercario);
    font: 600 15px "Noto Sans";
    padding: 12px 20px;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
        -6px -6px 12px #fff;
    cursor: pointer;
    top: -10px;
    right: 35px;
    text-decoration: none;
    transition:background-color .7s ease ;
}

.notification__btn:hover{
    background-color: #2980B9;
}


.notification__table-container {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    padding-bottom: 20px;
}

.notification__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 12px;
    font-family: "Poppins", sans-serif;

}

.notification__table tbody {
    display: block;
    max-height: 310px;
    overflow-y: auto;
}

.notification__table thead,
.notification__table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.notification__table tbody tr:hover {
    background-color: #f0f0f0; 
    transition: background-color 0.7s ease;
}

.notification__table th {
    position: relative;
    text-align: center;
    padding: 12px 20px;
    color: #7f8c8d;
    font-size: 14px;
}

.notification__table th {
    border-bottom: 1px solid #e0e0e0;
}

.notification__table td {
    text-align: center;
    padding: 16px 20px;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
}

.notification__table td.notification__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-size: 14px;
}

.name {
    font-weight: 600;
    color: #2c3e50;
}

.role {
    font-size: 12px;
    color: #95a5a6;
}


.div4 {
    border-radius: 25px;
    background-color: var(--color-tercario);
    grid-column: span 7 / span 7;
    grid-row: span 1 / span 1;
    grid-row-start: 3;
    min-height: 550px;
    max-width: 1300px;
    margin: 0 0 0 100px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

.perfil__cabecera{
    position: relative;
}

.cabecera__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    padding: 2px 2px;
    margin: 20px 0 0 20px;
}

#input-foto {
    display: none;
}

.perfil__botones{
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 62%;
}

.perfil__boton{
    font: 600 15px "Noto Sans";
    background-color: #48f;
    width: 170px;
    height: 45px;
    margin: 0 0 0 15px;
    cursor: pointer;
    color: var(--color-tercario);
    border: none;
    border-radius: 5px;
    transition:background-color .7s ease ;
}

.perfil__boton:hover:not(.perfil__boton--reset){
    background-color: #2980B9;
}

.perfil__boton--upload{
    padding: 14px 20px;
}

.perfil__boton--reset{
    background-color: transparent;
    border: 1px solid #fd1f1f;
    color: #fd1f1f;
    width: 100px;
}

.perfil__nota{
    font: 600 15px "Noto Sans";
    position: absolute;
    top: 60px;
    left: 5%;
    width: 120%;
    color: #797d7f;
}



.perfil__formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box--changed input{
    max-width: 610px;
}


.custom-select {
    position: relative;
    max-width: 610px;
    width: 100%;
    margin: 20px 0 10px 20px;
}

.selected {
    font-size: 16px !important;
    font-weight: 500;
    font-family: "Noto Sans";
    font-weight: bold;  
    color: #8d8d8d;
}

.select-box {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.arrow {
    transition: 0.3s;
    font-size: 16px;
    color: #666;
}

.custom-select.open .arrow {
    transform: rotate(180deg);
}

.custom-select.open .options-list {
    display: block;
}

.options-list {
    list-style: none;
    margin: 8px 0 0 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 0 10px;
    max-height: 200px;
    overflow-y: auto;
    font: 400 15px "Noto Sans";
}

.option {
    padding: 12px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 1s ease;
}

.option:first-child {
    margin-top: 10px;
}

.option:hover {
    background-color: #f2f2f2;
}



.perfil__formulario .formulario__button {
    background-color: var(--color-cuartario);
    color: var(--color-tercario);
    font: 600 15px "Noto Sans";
    width: 100%;
    max-width: 610px;
    height: 50px;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
        -6px -6px 12px #fff;
    cursor: pointer;
    transition:background-color .7s ease ;
}

.perfil__formulario .formulario__button:hover{
    background-color: #2980B9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-top: 0;
    font: 500 17px "Poppins";
}

/* Estilo para los párrafos dentro del modal */
.modal-content p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #7f8c8d;
    margin: 10px 0;
}

/* Estilo para las etiquetas <strong> */
.modal-content strong {
    font-weight: 600;
    color: #2c3e50;
}

.modal__descripcion {
    font: 300 17px/1.4 "Montserrat";
    max-height: 350px;
    overflow-y: auto;
    padding: 10px 25px;
    text-align: justify;
    background-color: #f4f4f4;
    border-radius: 6px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}
