body{
    display: grid;
    place-items: center;
    min-height: 90vh;
}


table{
    border-collapse: collapse;
    border: 2px solid #ddd;
    padding: 20px 20px 25px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border-spacing: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

th,tr{
    font: italic 600 13px sans-serif;
    color:#000077;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-align: center;
}

tr:nth-child(2n){
    background-color: #ddd;
}

td{
    font: italic 700 10px tahoma;
    color: #025283;
    padding: 10px 0;
}
