body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

img{
    width: 100%;
    max-width: 400px;
    height: 200px;
    object-fit: contain;
    object-position:right;
    border: 2px solid #000;
}