body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.hero {
    background: url('assets/image/restaurantedefondo.jpg') center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.nav__img{
    position: absolute;
    top: -20px;
    left: -4em;
}

.nav__img > img{
    width: 100%;
    max-width: 150px;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: right;
    margin: 0.2em 5em;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.lista__item {
    display: inline-block;
    margin: 0 0.5em;
}

.item__link {
    position: relative;
    color: #fff;
    font: 900 17px "Poppins";
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}


.item__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2.7px;
    background-color: #000084;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}


.item__link:hover::after {
    width: 100%;
    left: 0;
}

.link--btn {
    background-color: #000084;
    padding: 5px 25px;
    border-radius: 40px;
    color: #fff;
    transition: background-color 0.8s ease-in-out;
}

.link--btn::after {
    content: none;
}

.link--btn:hover {
    background-color: #0f25cf;
}

.inicio {
    padding: -6em 0;
}

.inicio__title {
    color: #fff;
    font: 900 40px "Poppins";
    margin-left: 1em;
}

span {
    color: #000084;
}

.inicio__text {
    width: 100%;
    max-width: 500px;
    color: #fff;
    margin-top: -1em;
    font: 500 18px "Poppins";
    margin-left: 3em;
    text-align: justify;
}

.inicio__link {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font: 500 18px "Poppins";
    color: #fff;
    text-decoration: none;
    margin-left: 3em;
    background-color: transparent;
    border: 2px solid #000084;
    padding: 10px 15px;
    overflow: hidden;
    z-index: 1; 
}

.inicio__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000084;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1; 
}

.inicio__link:hover::before {
    transform: translateX(0);
}

.inicio__link:hover {
    color: #fff; 
    z-index: 2;
}

.main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.platos{
    width: 100vw;  
    padding: 500px 0; 
    background: #eee;
    text-align: center;
}


.menu__title{
    position: relative;
    font: 900 40px "Poppins";
    text-transform: capitalize;
    color: black;
    margin: 1.5em 0;
    text-align: center;
}

.menu__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 44.4%;
    background-color: #000084;
    width: 100%;
    max-width: 50px;
    height: 4px;
}

.menu__text{
    width: 100%;
    max-width: 95%;
    font: 500 20px "Poppins";
    margin: -1.4em 0;
    text-align: center;
}

.menu__bnt{
    margin: 4em 0;
    text-align: center;
}

.btn__comida{
    width: 100%;
    max-width: 150px;
    height: 40px;
    margin: 0 0.5em;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    box-shadow: 10px 10px 12px rgba(0, 0,0, 0.5),
                -10px -10px 12px #fff;
    font: 500 15px "Poppins";
    text-transform: capitalize;
}

.btn__comida:active{
    box-shadow: inset 5px 5px 13px rgba(0, 0,0, 0.5);
}

.contenido__card{
    justify-content: center;
    display: flex;
    gap: 40px;
    margin:10em 0;
}

.card__comida{
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0,0, 0.5),
                -10px -10px 20px #fff;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.card__comida:hover{
    transform: translateY(-20%);
}


.comida__img{
    position: absolute;
    top: -7em;
    left: 20px;
}

.comida__img > .img__item{
    width: 100%;
    max-width: 230px;
    filter: drop-shadow(5px 15px 10px rgba(0, 0,0, 0.4) );

}


.comida__information{
    padding-top: 120px;
}

.information__title{
    font: 900 20px "Poppins";
    text-align: center;
    text-transform: capitalize;
}

.information__text{
    font: 500 15px "Poppins";
    padding: 0 20px;
}

.information__link{
    box-sizing: border-box;
    text-decoration: none;
    background: #000084;
    padding: 10px 10px;
    color: #fff;
    border-radius: 20px;
    font: 500 15px "Poppins";
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    top: 20px;
    left: 0;
}

.information__link:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0,0, 0.5);
}