.hero {
    background: url('assets/image/restaurantedefondo.jpg') center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.header__nav {
    display: flex;
    justify-content: right;
    margin: 0.9em 5em;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.lista__item {
    display: inline-block;
    margin: 0 0.5em;
}

.item__link {
    position: relative;
    color: #fff;
    font: 900 17px "Poppins";
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}


.item__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2.7px;
    background-color: #000084;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}


.item__link:hover::after {
    width: 100%;
    left: 0;
}

.link--btn {
    background-color: #000084;
    padding: 5px 25px;
    border-radius: 40px;
    color: #fff;
    transition: background-color 0.8s ease-in-out;
}

.link--btn::after {
    content: none;
}

.link--btn:hover {
    background-color: #0f25cf;
}

.inicio {
    padding: -6em 0;
}

.inicio__title {
    color: #fff;
    font: 900 40px "Poppins";
    margin-left: 1em;
}

span {
    color: #000084;
}

.inicio__text {
    width: 100%;
    max-width: 500px;
    color: #fff;
    margin-top: -1em;
    font: 500 18px "Poppins";
    margin-left: 3em;
    text-align: justify;
}

.inicio__link {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font: 500 18px "Poppins";
    color: #fff;
    text-decoration: none;
    margin-left: 3em;
    background-color: transparent;
    border: 2px solid #000084;
    padding: 10px 15px;
    overflow: hidden;
    z-index: 1; 
}

.inicio__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000084;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1; 
}

.inicio__link:hover::before {
    transform: translateX(0);
}

.inicio__link:hover {
    color: #fff; 
    z-index: 2;
}

