:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario:#000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
    transition: margin-top 0.6s ease-in-out;
}

.content__links{
    position: relative;
    font: 400 20px "Noto Sans";
    color: var(--color-cuartario);
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 20px 0 -10px;
    display: inline-block;
}

.content__links::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--color-cuartario);
    transition: width .7s ease,left .7s ease;
}

.content__links:hover::after{
    width: 100%;
    left: 0;
}

/**Encabezado */
.header {
    background-color: var(--color-primario); /* Color sólido al inicio */
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100%; 
    margin-right: 30px;
}

.nav__list {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex;
    align-items: center; 
}

.list__item {
    margin: 0 10px;
}

.item__link {
    color: var(--color-tercario);
    font: 400 20px "Noto Sans";
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.item__link::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 3.5px;
    background-color: var(--color-secundario);
    transition: width .7s ease,left .7s ease;
}

.item__link:hover::after {
    width: 100%;
    left: 0;
}


.btn--signin {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid var(--color-secundario);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secundario);
    font: 400 18px "Noto Sans";
    text-align: center;
    text-transform: capitalize;
    transition: color 0.7s ease; 
}

.btn--signin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secundario);
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    z-index: -1;
}

.btn--signin:hover::before {
    transform: translateX(0);
}

.btn--signin:hover {
    color: var(--color-primario);
    transition-delay: .3s; 
}


.servicios{
    padding: 50px 0 100px 0;
}

.servicios__title{
    font: 700 50px "Poppins";
    color: var(--color-primario);
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;

}

.servicios__title::before{
    content: "";
    position: absolute;
    left: 42.6%;
    bottom: 5px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 60px;
    height: 5px;
}

.servicios__text{
    font: 500 20px/1.6 "Montserrat";
    color: var(--color-primario);
    width: 1500px;
    padding: 0 100px;
    text-align: center;
    margin:0 0 50px 0;
}


/* Card Servicios */
.servicios__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container--changed{
    margin: 50px 0 0 0;
}

.servicios__container .container__card{
    position: relative;
    width: 440px;
    height: 520px;
    background-color: var(--color-cuartario);
    border-radius: 40px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.servicios__container .container__card:hover{
    transform: scale(1.1);
}


.servicios__container .container__card .card__img{
    position: relative;
    width: 100%;
    height: 370px;
    background-color: var(--color-cuartario);
}

.servicios__container .container__card .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.servicios__container .container__card .card__img::before{
    content: "";
    position: absolute;
    bottom: -170px;
    width: 100%;
    height: 240px;
    border-radius: 40px;
    background-color: var(--color-tercario);
}

.servicios__container .container__card .card__img::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: transparent;
    box-shadow: -75px 70px 0 40px var(--color-tercario);
}

.servicios__container .container__card .card__content{
    position: relative;
    top: -50px;
    z-index: 10;
    padding: 0 30px;
}

.card__title{
    font: 600 20px "Poppins";
    text-transform: capitalize;
    color: var(--color-cuartario);
}

.card__text{
    font: 400 15px "Montserrat";
    margin: 5px 0 20px 0 ;
    text-align: justify;
    
}

.card__btn{
    background-color: var(--color-cuartario);
    padding: 10px 15px;
    border-radius: 30px;
    color: var(--color-tercario);
    cursor: pointer;
    text-decoration: none;
    font: 400 15px "Noto Sans";
}

/* footer */
.footer{
    background-color: var(--color-primario);
    color: var(--color-tercario);
    padding: 50px 0;
    font-family: "Noto Sans";
}

.footer__content{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.content__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row__item{
    width: 25%;
    padding: 0 15px;
}

.row__item .item__title{
    font-size: 18px;
    color: var(--color-secundario);
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row__item .item__title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--color-secundario);
    height: 2px;
    width: 50px;
}

.row__item .item__list{
    list-style: none;
    padding: 0;
}

.row__item .item__list .list__footer{
    margin: 10px 0;
}

.row__item .item__list .list__footer .footer__link{
    color: var(--color-tercario);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}


.row__item .item__list .list__footer .footer__link:hover{
    color: var(--color-secundario);
}

.item__social{
    margin-top: 20px;
}

.item__social .social__link{
    display: inline-block;
    margin-right: 10px;
    color: var(--color-tercario);
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.item__social .social__link:hover{
    color: var(--color-secundario);
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .row__item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .row__item {
        width: 100%;
    }
}