/**Bloque principal llamado lista */
.lista{
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ddd;
}

/** Modificadores */
.lista--vieja{
    opacity: 0.5;
    border: 2px solid red;
}

/** Modificadores */
.lista--nueva{
    border: 2px solid green;
}

/**Elemento principal llamado lista__item */
.lista__item{
    font: italic 800 20px monospace;
    color: purple;
    text-transform: capitalize;
    list-style: none;
}

/** Modificadores */
.item--harina{
    color: darkblue;
}

/** Modificadores */
.item--lacteos{
    color: green;
}

.content{
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    background-color: blue;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.content__item > .content__text{
    color: white;
    font: italic 700 14px monospace;
    text-align: justify;
}

.content__item > .text--informacion{
    color: coral;
    font: italic 900 16px sans-serif;
}

.content__item > .text--mensaje{
    color: orange;
    font: italic 900 16px sans-serif;
}