*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    display: flex;
    flex-direction: column;
}

.contenedor__item{
    width: 100%;
    max-width: 500px;
    height: 200px;
    margin: 10px;
    background-color: red;
    color: #fff;
    font: 700 50px "monospace";
    text-align: center;
}

.contenedor__item:first-child{
    background-color: purple;
}

.contenedor__item:nth-child(2n){
    background-color: blue;
}

.contenedor__item:last-child{
    background-color: green;
}